.ant-menu-item {
    span {
        display: inline-block;
        width: 150px;
        height: 100%;
        a {
           display: block;
           text-decoration: none;
           color: rgb(175, 170, 170);
           

        }
    }
}

.ant-menu-item-active, .ant-menu-item-selected {
    span {
        
        a {
           
           color:  #fff;
        
        }
    }
}
.books_counter {
    width: auto!important;
    line-height: 18px;
    padding: 5px;
    background: #e82626;
    border-radius: 5px;
    font-weight: bold;
}
