.ant-menu-item {
    span {
        display: inline-block;
        width: 150px;
        height: 100%;
        a {
           display: block;
           text-decoration: none;
           color: rgb(175, 170, 170);
           

        }
    }
}
.ant-menu-item-active, .ant-menu-item-selected {
    span {
        
        a {
           
           color:  #fff;
        
        }
    }
}
.ant-menu-item .counter {
  display: inline-block;
  padding: 3px;
  color: #ffffff;
  background: indianred;
  width: auto;
  margin-left: 5px;
  line-height: 12px;
  border-radius: 10px;
}
