.ant-layout-content {
    position: relative;
    .ant-spin {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }   
}
.input-box {
    margin-top: 20px;
    display: flex;
    width: 500px;
    border: 2px solid #3f3f3f;
    box-shadow: 0 0 15px;
    border-radius: 7px;    
}
.ant-btn {
    width: 150px;
}
.ant-card-bordered {
   margin: 5px 8px;
    img {
        height: 300px;
    }
}
.list_book {
    display: flex;
    flex-wrap: wrap;
    
}
.search_text {
    color: #3f3f3f;
    text-shadow: 0 2px 3px;
    margin-bottom: 10px;
    font-size: 40px;
}